frontend/.DS_STORE
frontend/node_modules
frontend/.next
frontend/scripts/flow/*/.flowconfig
frontend/*~
frontend/*.pyc
frontend/.grunt
frontend/_SpecRunner.html
frontend/__benchmarks__
frontend/build/
frontend/remote-repo/
frontend/coverage/
frontend/.module-cache
frontend/fixtures/dom/public/react-dom.js
frontend/fixtures/dom/public/react.js
frontend/test/the-files-to-test.generated.js
frontend/*.log*
frontend/chrome-user-data
frontend/*.sublime-project
frontend/*.sublime-workspace
frontend/.idea
frontend/*.iml
frontend/.vscode
frontend/*.swp
frontend/*.swo
