.bottom-menu {
  width: 100%;
  height: 50px;
  background: #2b5557;
  position: fixed;
  bottom: 0;
}

.bottom-menu span {
  width: 33%;
  height: 100%;
  color: white;
  display: inline-block;
  border-right: 2px solid white;
  user-select: none;
}

.bottom-menu span:hover {
  cursor: pointer;
  background: #ea973e;
}
.bottom-menu span.last {
  border: 0px;
}
