.trashometer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
    position: relative;
    margin-bottom: 20px;
    margin-top: -100px;
}

.legend-color {
    display: inline-block;
    width: 10px;
    height: 10px;
}


.trashometer-legend {
    display: flex;
    justify-content: stretch;
    justify-content: space-around;
}

.legend-description {
    display: inline-block;
} 

.trashometer-legend > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 50%;
    max-width: 25%;
}

.trashometer-header-container h1 {
    color: #66952e;
}